<footer class="footer">
    <div class="footer-links">
        <a href="#" class="footer-link">CONTACT ></a>
        <a href="#" class="footer-link">ABOUT ></a>
        <a href="#" class="footer-link">REVEALED WORD ></a>
    </div>
    
    <div class="social-links">
        <a href="https://youtube.com/yourchannel">
            <i class="fa-brands fa-youtube"></i>
        </a>
        
        <a href="https://instagram.com/yourprofile">
            <i class="fa-brands fa-instagram"></i>
        </a>
        
        <a href="https://facebook.com/yourpage">
            <i class="fa-brands fa-facebook"></i>
        </a>
    </div>

    <div class="newsletter">
        <h3 class="newsletter-title">SIGN UP FOR OUR<br>NEWSLETTER</h3>
        <form class="newsletter-form">
            <input type="email" placeholder="Enter your email here *" required class="newsletter-input">
            <button type="submit" class="newsletter-button">SUBSCRIBE</button>
        </form>
    </div>

    <div class="copyright">
        © 2025 Shincheonji India.
    </div>
</footer>