<header class="header">
    <nav class="nav-left">
        <a href="/about" class="nav-item" data-link>Introduction</a>
        <a href="#" class="nav-item">Organization</a>
        <a href="#" class="nav-item">Revealed Word</a>
    </nav>
    
    <a href="#" class="logo">Shincheonji</a>
    
    <nav class="nav-right">
        <a href="#" class="nav-item">Mission Center</a>
        <a href="#" class="nav-item">Church News</a>
        <a href="#" class="nav-item">Contact</a>
    </nav>
</header>